.footer {
    padding: 2rem 0;
    display: flex;
    column-gap: 80px;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation {
    display: flex;
    column-gap: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.listItem {
    margin-top: 15px;
}

.socialList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-top: 15px;
}