@use './mixins' as *;
@use './variables' as *;

:root {
   /*=== Colors === */
   --color-white: oklch(1 0 0);
   --color-white-80: oklab(100% 0 -0.00011 / 80%);
   --color-white-50: oklch(1 0 0 / 50%);
   --color-white-15: oklab(100% 0 -0.00011 / 15%);
   --color-gray: oklch(0.8594 0.0125 280.981);
   --color-card: oklch(0.187 0.091 298.566);
   --color-background: oklch(19.032% 0.04178 290.626);
   --color-text: oklch(100% 0.00011 271.152 / 50%);
   --color-red: oklch(0.599 0.23883 22.797);
   --color-purple-black: oklch(0.1903 0.04178 290.626);

   /*=== border-radius === */
   --border-radius-sm: .3125rem;
   --border-radius-md: 0.625rem;
   --border-radius-lg: 0.75rem;
   --border-radius-max: 1000rem;

   /*=== Layers === */
   --z-under: -1;
   --z-over: 1;
   --z-second-over: 2;

   /*=== Transitions === */
   --trans-fast: 0.3s ease;
   --trans-medium: 0.4s ease-in-out;

   /*=== Fonts ===*/
   --fs-heading_1: 4.5rem;
   --fs-heading_2: 3rem;
   --fs-heading_3: 2rem;
   --fs-heading_4: 1.5rem;
   --fs-heading_5: 1.25rem;
   --fs-heading_6: 1.125rem;
   --fs-text-m: 1rem;
   --fs-text-s: .875rem;
}

