.notFound {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  filter: drop-shadow(0px 0px 10px black);
  pointer-events: none;
  max-width: 100%;
  max-height: 80dvh;
  display: block;
  margin-bottom: 1rem;
}
.button {
  & + & {
    margin-left: 15px;
  }
}
